<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.frigatesoft.gym"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>GYM APP</name>

  <description>
      GYM Membership Management App
  </description>

  <author href="https://www.frigatesoft.com" email="abdelkawy@frigatesoft.com">
      Project Team
  </author>
  <icon src="android_icons/icon.png" platform="android" width="180" height="180" />

  <platform name="android">
<icon src="ldpi.png" platform="android" qualifier="ldpi" />
<icon src="android_icons/mdpi.png" platform="android" qualifier="mdpi" />
<icon src="android_icons/hdpi.png" platform="android" qualifier="hdpi" />
<icon src="android_icons/xhdpi.png" platform="android" qualifier="xhdpi" />
<icon src="android_icons/xxhdpi.png" platform="android" qualifier="xxhdpi" />
<icon src="android_icons/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
<icon src="android_icons/fr-xxhdpi.png" platform="android" qualifier="fr-xxhdpi" />
</platform>
</widget>